<header class="bg-white shadow-md z-40">
  <div class="container max-w-5xl mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <a href="/">
        <img src="/logo.png" alt="Reviews" class="h-10" />
      </a>
    </div>
  </div>
</header> 